<%- include("partials/header.ejs")  %>

<section style="min-height: 100vh!important; width: 100vw!important;"> 

  <section id="aboutHero" style="min-height: 100vh; width: 100vw;"> 
    <div class="container col-xxl-8 px-4 py-5" style="position: relative;">
      <svg xmlns="http://www.w3.org/2000/svg" width="1100" height="1100" fill="currentColor" id="alt" class="bi bi-alt" viewBox="0 0 16 16" style="position: absolute; z-index: 0; top: -100px; left: -730px; color: #727272;">
        <path d="M1 13.5a.5.5 0 0 0 .5.5h3.797a.5.5 0 0 0 .439-.26L11 3h3.5a.5.5 0 0 0 0-1h-3.797a.5.5 0 0 0-.439.26L5 13H1.5a.5.5 0 0 0-.5.5m10 0a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5"/>
      </svg>
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5 mx-1">
        <div class="col-12 col-sm-8 col-lg-6">
          <img src="/images/mobilePic.png" class="mx-lg-auto img-fluid showing2" alt="Picture Of Me" width="300" loading="lazy" style="border-radius: 20px; margin-top: -50px;">
          <img src="/images/ksf_webdesigns.png" class="mx-lg-auto img-fluid showing" id="aboutImage" alt="Picture Of Me" width="400" height="500" loading="lazy" style="border-radius: 20px; display: block;">
        </div>
        <div class="col-lg-6 py-1" style="background-color: #0e0e0e70; border: 2px solid #2f6d23; border-radius: 20px; z-index: 1;">
          <h1 class="display-5 fw-bold text-white lh-1 mb-3">About Me</h1>
          <p class="lead text-white">
            <span id="aboutMeP1" class="box invisible_down">
              As soon as I left secondary school back in 2019, I was persuaded to take on an electrical apprenticeship. I worked on various large-scale construction projects across Dublin during this time. Even during parts of the pandemic-induced lockdowns. I got qualified in 2024 but during my last year as an apprentice I was yearning to do something different.
            </span><br><br>
            <span id="aboutMeP2" class="box invisible_down">
              I began learning how to code in my final year of my apprenticeship as well as when working as a qualified electrician. I am now proud to say I've learned what I need to be a full-stack web developer, and my new dream of working in this industry has finally come true.
            </span><br><br>
            <span id="aboutMeP3" class="box invisible_down">
              It's even safe to say that coding has become my strongest hobby. When I am not coding for work, I am often learning how to code a new language or building a new project, such as 'Bookstored', which you can find displayed on my homepage. Besides coding, I am an avid enjoyer of film, gaming, and cycling.
            </span>
          </p>
        </div>
      </div>
    </div>
  </section>

  
  </section>


<%- include("partials/footer.ejs")  %>