<%- include("partials/header.ejs")  %>

<section id="aboutHero" style="height: 100%; width: 100vw!important; background-color: #444444"> 

    <!-- <div class="row d-flex justify-content-center my-5">
        <div class="col-12 col-lg-4 text-center" style= "background-color: #0e0e0e70; border: 2px solid #2f6d23; height: 100%; border-radius: 20px; max-width: 400px;">
            <h1 class="text-white">About me</h1>
            <p class="text-white">As soon as I left secondary school back in 2019, I was pursuaded to take on an electrical apprenticeship. I worked on various large-scale construction projects across Dublin during this time. Even during parts of the pandemic induced lockdowns. I got qualified in 2024 but during my last year as an apprentice I was yearning to do something different<br><br>I began learning</p>
        </div>

        <div class="col-12 col-lg-4 d-flex justify-content-center">
            <img src="/images/ksf_webdesigns.png" alt="picture of me" width="300px" class="m-3" style="border-radius: 20px;">
        </div>
    </div>

</section> -->



<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 mx-1">
      <div class="col-12 col-sm-8 col-lg-6">
        <img src="/images/mobilePic.png" class="mx-lg-auto img-fluid showing2" alt="Bootstrap Themes" width="300" loading="lazy" style="border-radius: 20px; margin-top: -50px;">
        <img src="/images/ksf_webdesigns.png" class="mx-lg-auto img-fluid showing" alt="Bootstrap Themes" width="400" height="500" loading="lazy" style="border-radius: 20px; display: block;">
      </div>
      <div class="col-lg-6 py-1" style= "background-color: #0e0e0e70; border: 2px solid #2f6d23; height: 100%; border-radius: 20px;">
        <h1 class="display-5 fw-bold text-white lh-1 mb-3">About Me</h1>
        <p class="lead text-white">As soon as I left secondary school back in 2019, I was pursuaded to take on an electrical apprenticeship. I worked on various large-scale construction projects across Dublin during this time. Even during parts of the pandemic induced lockdowns. I got qualified in 2024 but during my last year as an apprentice I was yearning to do something different<br><br>I began learning how to code in my final year of my apprenticeship as well as when working as a qualified electrician. I know am proud to say I've learned what I need to be a full-stack web developer and my new dream of working in this industry has finally come true.<br><br>It's even safe to say that coding has become my strongest hobby. When I am not coding for work, I am often learning how to code a new language or building a new project, such as 'Bookstored', which you can find displayed on my homepage. Besides coding, I am an avid enjoyer of film, gaming and cycling</p>
      </div>
    </div>
  </div>

  </section>


<%- include("partials/footer.ejs")  %>