<%- include("partials/header.ejs")  %>

<div style="display: flex; justify-content: center; align-items: center; height: 100vh; margin-top: -150px;">
    <h1 class="new-rocker-regular text-white">I'll be announcing my future plans soon, come back here when I do!</h1>
</div>

<%- include("partials/footer.ejs")  %>