<%- include("partials/header.ejs")  %>
<div id="filler"></div>


    
<div class="px-4 py-5 text-center home-component">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi quote bi-quote" viewBox="0 0 16 16" id="quoteOne">
      <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388q0-.527.062-1.054.093-.558.31-.992t.559-.683q.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 9 7.558V11a1 1 0 0 0 1 1zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612q0-.527.062-1.054.094-.558.31-.992.217-.434.559-.683.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 3 7.558V11a1 1 0 0 0 1 1z"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi quote bi-quote" viewBox="0 0 16 16" id="quoteTwo">
        <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388q0-.527.062-1.054.093-.558.31-.992t.559-.683q.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 9 7.558V11a1 1 0 0 0 1 1zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612q0-.527.062-1.054.094-.558.31-.992.217-.434.559-.683.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 3 7.558V11a1 1 0 0 0 1 1z"/>
      </svg>
    <img class="d-block mx-auto mb-4" src="images/ME.PNG" id="home-card-image" alt="" width="130" height="130" style="border-radius: 50%;">
    <h1 class="display-5 fw-bold text-white" id="home-title">Small Business Developer</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-white">I work primarily with small businesses to help them grow their leads and build a strong online presence, which has become a crucial aspect of success in today’s digital-driven market.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-light btn-lg px-4 gap-3">Get Started</button>
        <button type="button" class="btn btn-outline-light btn-lg px-4">Secondary</button>
      </div>
    </div>
  </div>

  
  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="mb-0" style="color: white; text-align: center;">Recent Projects</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 flex justify-content-center">
      <a href="https://book-review-app-6hdz.onrender.com/" class="project-card-links">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/public/images/thelcbioguy.png');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="color: rgb(27, 25, 31);">Latest Client Project</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="/images/logoSimple.png" alt="Bootstrap" width="50" height="50" class="rounded-circle border border-white">
              </li>
            </ul>
          </div>
        </div>
      </div>
      </a>


      <a href="https://book-review-app-6hdz.onrender.com/" class="project-card-links">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/public/images/bookstore.png');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Latest Personal Project</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="/images/logoSimple.png" alt="Bootstrap" width="50" height="50" class="rounded-circle border border-white">
              </li>
            </ul>
          </div>
        </div>
      </div>
      </a>
    </div>
  </div>



<%- include("partials/footer.ejs")  %>