<%- include("partials/header.ejs")  %>
<section id="pricingHero" style="min-height: 100vh; width: 100vw!important;"> 

  <div class="d-flex justify-content-center" style="width: 100%;">
    <div class="px-4 py-5 my-5 text-center container mx-2" id="pricingComponent">
        <h1 class="display-5 fw-bold text-white">Pricing Model</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4 text-white">I understand the difficulty of trying to run a small business. In a growing digital world, customers now more than ever look for websites when trying to get information on a business. It's so important to have a professional website and to make the experience as user friendly for the customer as possible. I can help.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Web Design</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Contact Me</button>
          </div>
        </div>
      </div>
  </div>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm" style="border: solid 2px #2f6d23; background-color: #2b2b2b;">
            <div class="card-header py-3" style="border-bottom: solid 1px #161616; background-color: #22351e;">
              <h4 class="my-0 fw-normal text-white">Branding Add On</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title text-white">€50<small class="text-white fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4 text-white">
                <li>Custom designs for your business needs</li>
                <li>Logos, menus, cards, social media tempaltes, etc </li>
                <li>Consistent brand colours/templates</li>
                <li>Click the button to learn more</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg" style="color: white; border: 1px solid #2f6d23; background-color: #2b2b2b;">Learn More</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm" style="border: solid 2px #2f6d23; background-color: #2b2b2b;">
            <div class="card-header py-3" style="border-bottom: solid 1px #161616; background-color: #22351e;">
              <h4 class="my-0 fw-normal text-white">SEO Add On</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title text-white">$90<small class="text-white fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4 text-white">
                <li>Optimised SEO gets you on top of google</li>
                <li>I track user analytics for best strategies</li>
                <li>Priority email support</li>
                <li>Help center access</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg" style="color: white; border: 1px solid #2f6d23; background-color: #22351e;">Learn More</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm" style="border: solid 2px #2f6d23; background-color: #2b2b2b;">
            <div class="card-header py-3 text-white" style="border-bottom: solid 1px #161616; background-color: #22351e;">
              <h4 class="my-0 fw-normal">Web Design Package</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title text-white">$200<small class="text-white fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4 text-white">
                <li>Fully custom site up to 6 pages</li>
                <li>Fast loading times</li>
                <li>Maintenance indude forever</li>
                <li>Hosting and other third party costs covered</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg" style="color: white; border: 1px solid #2f6d23; background-color: #2f6d23;">Learn More</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
          <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-white mb-3">Get In Touch Today!</h1>
            <p class="col-lg-10 fs-4 text-white">To get in touch, simply enter you're email address and phone number. I will email you back as soon as possible so that we can arrange a call to discuss your plan.</p>
          </div>
          <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
              <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
              <hr class="my-4">
            </form>
          </div>
        </div>
      </div>

</section>

<%- include("partials/footer.ejs")  %>