<%- include("partials/header.ejs")  %>
<section id="pricingHero" style="min-height: 100vh; width: 100vw!important;"> 

  <div class="d-flex justify-content-center" style="width: 100%;">
    <div class="px-4 py-5 my-5 text-center container mx-2" id="pricingComponent">
        <h1 class="display-5 fw-bold text-white new-rocker-regular">Pricing Model</h1>
        <div class="col-lg-8 mx-auto">
          <p class="lead mb-4 text-white">I understand the difficulty of trying to run a small business. In a growing digital world, customers now more than ever look for websites when trying to get information on a business. It's so important to have a professional website and to make the experience as user friendly for the customer as possible. I can help.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/web"><button type="button" class="btn btn-light btn-lg px-4 gap-3">About My Product</button></a>
            <a href="/contact"><button type="button" class="btn btn-outline-light btn-lg px-4">Contact Me</button></a>
          </div>
          <p class="lead" style="color: #2f6d23; margin-top: 40px; margin-bottom: -20px;">*Custom domain included if domain is under €10*</p>
        </div>
      </div>
  </div>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm" style="border: solid 2px #2f6d23; background-color: #0e0e0e70!important;">
            <div class="card-header py-3" style="border-bottom: solid 1px #202020; background-color: #294224;">
              <h4 class="my-0 fw-normal text-white new-rocker-regular">Static Website</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title text-white">€200</h1>
              <ul class="list-unstyled mt-3 mb-4 text-white">
                <li>Fully custom site up to 4 pages</li>
                <li>First draft done in 5 days or less</li>
                <li>No backend, so static features only</li>
                <li>Maintenance included for the first year</li>
              </ul>
              <a href="/staticWebsite"><button type="button" class="w-100 btn btn-lg" style="color: white; border: 1px solid #2f6d23; background-color: #2b2b2b;">Learn More</button></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm" style="border: solid 2px #2f6d23; background-color: #0e0e0e70!important;">
            <div class="card-header py-3" style="border-bottom: solid 1px #202020; background-color: #294224;">
              <h4 class="my-0 fw-normal text-white new-rocker-regular">Web Design</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title text-white">€325<small class="text-white fw-light"></small></h1>
              <ul class="list-unstyled mt-3 mb-4 text-white">
                <li>Fully custom site up to 5 pages</li>
                <li>Backend allows for complex features</li>
                <li>First draft done in 1-2 weeks</li>
                <li>Maintenance included for the first year</li>
              </ul>
              <a href="/webDesign"><button type="button" class="w-100 btn btn-lg" style="color: white; border: 1px solid #2f6d23; background-color: #22351e;">Learn More</button></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm" style="border: solid 2px #2f6d23; background-color: #0e0e0e70!important;">
            <div class="card-header py-3 text-white" style="border-bottom: solid 1px #202020; background-color: #294224;">
              <h4 class="my-0 fw-normal new-rocker-regular">Web Design Full Package</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title text-white">€150<small class="text-white fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4 text-white">
                <li>Fully custom site up to <b>6 pages</b></li>
                <li>SEO set up <b>included</b></li>
                <li>Maintenance included <b>forever</b></li>
                <li>Hosting and other third party costs <b>covered</b></li>
              </ul>
              <a href="/fullPackage"><button type="button" class="w-100 btn btn-lg" style="color: white; border: 1px solid #2f6d23; background-color: #2f6d23;">Learn More</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
    <div class="col-xl-12 col-xxl-8 px-4 py-2 contactComponent" style="width: 100%; margin-block: 30px;">
        <div class="row align-items-center g-lg-5 py-5">
          <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-white mb-3 new-rocker-regular">Get In Touch Today!</h1>
            <p class="col-lg-10 fs-4 text-white">Not sure which plan to go for? To get in touch, simply enter you're email address and phone number. I will email you back as soon as possible so that we can arrange a call to discuss your plan.</p>
          </div>
          <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post" action="/submitWebDesign">
              <div class="form-floating mb-3">
                <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="tel" name="number" class="form-control" id="floatingNumber" placeholder="Phone Number" required>
                <label for="floatingNumber">Phone Number</label>
              </div>
              <button class="w-100 btn btn-lg btn-dark" type="submit">Submit</button>
              <hr class="my-4">
            </form>
          </div>
        </div>
      </div>
      </div>

</section>

<%- include("partials/footer.ejs")  %>